Source: ruby-rufus-treechecker
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-rufus-treechecker.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-rufus-treechecker;a=summary
Homepage: http://rufus.rubyforge.org
XS-Ruby-Versions: all

Package: ruby-rufus-treechecker
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
# ruby_parser (>= 2.0.5, runtime), rake (>= 0, development), rspec (>= 2.0, development)
Description: tests strings of Ruby code for unauthorized patterns (exit, eval, ...)
 .
 tests strings of Ruby code for unauthorized patterns (exit, eval, ...)
 .
